.app {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 20px;
}

.app-select {
    grid-column: 1 / 5;
}

.app-table {
    grid-column: 6 / 13;
}

.app-submit {
    margin-top: 20px;
}

@media (max-width: 580px) {
    .app-select {
        grid-column: 1 / 13;
    }

    .app-table {
        grid-column: 1 / 13;
    }
}